body {
    cursor: url('cursor.cur'), pointer;
    background-image: url('../img/misc/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.full{
    width: 100%;
}

.hidden {
    opacity: 0;
    display: none;
}

.footer{
    height: 30vh;
    width: 100%;
    background-color: #222F3A;
}

.rotate{
    transform: rotate(90);
}


.roundedCorner{
    border-radius: 10px;
}

.img-fluid{
    max-width: 100%;
    max-height: 100%;
}

.myList{
    list-style-type: none!important;
}
.addbanner{
    width: 200;
    height: 400px;
}
.bigRow{
    width: 100%!important;
    height: 100vh!important;
}
.cardImg{
    max-width: 10rem!important;
    max-height: 10rem!important;
    object-fit: contain!important;
}
.cartFormStyle{
    margin: 10%;
    padding: 5%;
    background-color: rgb(253, 244, 214);
    border: 0.1em solid black;
    color: rgb(8, 8, 8);
    border-radius: 0.5em;
}

.logo{
    width: 40rem;
    height: auto;
}

.tablestyle{
    opacity: 80%;
}
.noshrink{
    object-fit: cover;
}
.itemrow{
    width: 40%;
    height: auto;
    border: 0.1em black solid;
    background-color: white;
    border-radius: 0.5rem;
}

.itempic{
    border-radius: 0.5rem!important;
}
